@model IEnumerable<TimeKeeper.Models.LearningNote>

@{
    ViewData["Title"] = "Index";
}

<!-----------------Search----------->
<form class="navbar-form">
    <div class="form-group">
        <input type="text" class="form-control border-secondary" placeholder="Search" />
    </div>
</form>

<!-----------------Create----------------->
<div style="display: flex; justify-content: center;">
    <div class="card border-primary mb-3 shadow-lg" style="max-width: 22rem; width: 100%;">
        <form asp-action="CreateLearningNote" class="p-3">
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label fw-bold">Label</label>
                    <input type="text" name="Label" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">Description</label>
                    <textarea name="Description" class="form-control" rows="4"></textarea>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-sm">Add Note</button>
            </div>
        </form>
    </div>
</div>


<!-----------------Cards-------------------> 
<div style="display:flex; flex-direction:row; align-content:flex-start; align-items:flex-start; flex-wrap:wrap;"> 

 @foreach (var note in Model) 
 { 

     <div class="card text-white border-dark bg-secondary mb-3" style="min-width:18rem; max-width:18rem; min-height:12rem; height:auto; margin:.75rem;"> 
         <div class="card-header"><h5 class="card-title">@Html.DisplayFor(modelNote => note.Label)</h5></div>  
         <div class="card-body">  
             <p class="card-text">@Html.DisplayFor(modelNote => note.Description)</p>  
         </div> 
             <!-- Button trigger modal --> 
 			<div class="card-footer" style="display:flex; justify-content:end">
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#@note.Id">
                    Edit
                </button>
             </div> 
         </div>

        <div class="modal fade" id="@note.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="@note.Id">@Html.DisplayFor(modelNote => note.Label)</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @Html.DisplayFor(modelNote => note.Description)
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        
 } 
</div>




