@model IEnumerable<TimeKeeper.Models.LearningNote>

@{
    ViewData["Title"] = "Index";
    var searchString = ViewBag.SearchString as string;
}

<!-----------------Search----------->
<div style="display:flex; justify-content:flex-start;">
    <div style="flex-grow:1">
        <form asp-controller="LearningNote" asp-action="Index" method="get" class="navbar-form">
            <div class="input-group input-group-lg">
                <button class="btn btn-outline-success" type="submit" id="button-addon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg> Search
                </button>
                <input type="text" name="searchString" value="@searchString" class="form-control border-secondary" />
            </div>
        </form>
    </div>
    <button class="btn btn-dark" style="margin-left:1rem" type="button" data-bs-toggle="collapse" data-bs-target="#createNewNote" aria-expanded="false" aria-controls="multiCollapseExample2">+ Create Note</button>
</div>
<br />

<!-----building collapsable expand for adding new note--------------->

<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="createNewNote">
            <div style="display: flex; justify-content: center;">
                <div class="card border-primary mb-3 shadow-lg" style="max-width: 22rem; width: 100%;">
                    <form asp-action="CreateLearningNote" class="p-3">
                        <div class="card-body">
                            <div class="mb-3">
                                <label class="form-label fw-bold">Label</label>
                                <input type="text" name="Label" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label fw-bold">Description</label>
                                <textarea name="Description" class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary btn-sm">Add Note</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<!-----------------Cards-------------------> 
<div class="row" data-masonry='{"percentPosition": true }'>
 @foreach (var note in Model) 
 { 

     <div class="card text-dark border-secondary bg-gradient mb-3" style="min-width:18rem; max-width:18rem; min-height:12rem; height:auto; margin:.75rem;"> 
         <div class="card-header border-dark"><h5 class="card-title">@Html.DisplayFor(modelNote => note.Label)</h5></div>  
         <div class="card-body">  
             <p class="card-text">@Html.DisplayFor(modelNote => note.Description)</p>  
         </div> 
             <!-- Button trigger modal --> 
 			<div class="card-footer border-dark" style="display:flex; justify-content:space-between">
                <form asp-action="Destroy" asp-route-id="@note.Id" method="post">
                    <button type="submit" class="btn btn-white btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                        </svg>
                    </button>
                </form>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#@note.Id">
                    Edit
                </button>
             </div> 
         </div>
        
 } 
</div>

<!----Modal------->
@foreach (var note in Model)
{
    <div class="modal fade" id="@note.Id" tabindex="-1" aria-labelledby="modal-@note.Id" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form asp-action="Update" method="post">
					<input type="hidden" name="Id" value="@note.Id" />
                    <div class="modal-header">
                        <input class="form-control" name="Label" value="@note.Label">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
						<textarea class="form-control" name="Description">@Html.DisplayFor(description => note.Description)</textarea>
                    </div>
                    <div class="modal-footer" style="justify-content:space-between">
                        <button type="button" onclick="handleDelete(@note.Id)" class="btn btn-light btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                            </svg>
                        </button>
                        <div>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </form>
                <form id="deleteForm-@(note.Id)" type="hidden" class="d-inline" asp-action="Destroy" asp-route-id="@note.Id" method="post"></form>
            </div>
        </div>
    </div>
}

       
<!----script for masonry---->
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
<script>
    function handleDelete(id) {
		document.getElementById('deleteForm-' + id).submit();
    }
</script>

